<head>
    <!--================= Meta tag =================-->
    <meta charset="utf-8">
    <title>BTK Akademi - AI Blog Atölyesi</title>
    <meta name="description" content="">
    <!--================= Responsive Tag =================-->
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--================= Favicon =================-->
    <link rel="apple-touch-icon" href="/template/assets/images/fav.png">
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/fav.png">
    <!--================= Bootstrap V5 css =================-->
    <link rel="stylesheet" type="text/css" href="/template/assets/css/bootstrap.min.css">
    <!--================= Fontawesome  css =================-->
    <link rel="stylesheet" type="text/css" href="/template/assets/css/all.min.css">
    <!--================= Rounded  css =================-->
    <link rel="stylesheet" type="text/css" href="/template/assets/css/rounded.css">
    <!--================= Back Menus css =================-->
    <link rel="stylesheet" type="text/css" href="/template/assets/css/back-menus.css">
    <!--================= Animate css =================-->
    <link rel="stylesheet" type="text/css" href="/template/assets/css/animate.css">
    <!--================= Owl Carousel css =================-->
    <link rel="stylesheet" type="text/css" href="/template/assets/css/owl.carousel.css">
    <!--================= Magnific Popup css =================-->
    <link rel="stylesheet" type="text/css" href="/template/assets/css/magnific-popup.css">
    <!--================= Style css =================-->
    <link rel="stylesheet" type="text/css" href="/template/assets/style.css">
    <!--================= Spacing css =================-->
    <link rel="stylesheet" type="text/css" href="/template/assets/css/back-spacing.css">
    <!--================= Responsive css =================-->
    <link rel="stylesheet" type="text/css" href="/template/assets/css/responsive.css">
</head>